<!DOCTYPE html>
<html lang="en">

<head>
{{template "header" .}}
</head>

<body id="page-top">
  {{template "navigation" .}}
  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="nate">
    <div class="w-100">
      <h2 class="mb-2">{{(index .news 0).Portal}}</h2>

      {{ $newsColor := "" }}
      {{ if eq (index .news 0).Portal "nate"}}
        {{ $newsColor = "danger" }}
      {{ else if eq (index .news 0).Portal "naver"}}
        {{ $newsColor = "success" }}
      {{ else }}
        {{ $newsColor = "primary" }}
      {{ end }}

      {{ $tempLoginFlag := .loginFlag }}

      {{range .news}}
           <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
             <div class="resume-content">
             {{ if eq .Portal "naver"}}
               <h5 class="mb-0" onclick="window.open('{{.Url | AddHttpsString}}', '_blank')">{{.Title}}</h5>
               <h5 class="mb-0" onclick="window.open('{{.Url | AddHttpsString}}', '_blank')">{{.TitleJapanese}}</h5>
               <div class="subheading cor">{{.PressJapanese}}</div>
               <p>
                 {{.ContentJapanese}}<br>
               </p>
             {{ else }}
                <h5 class="mb-0" onclick="window.open('{{.Url | AddHttpsString}}', '_blank')">{{.Title}}</h5>
                <div class="subheading cor">{{.Press}}</div>
                <p>
                  {{.Content}}
                </p>
             {{ end }}
             {{ if eq $tempLoginFlag true }}
               <button onclick="location.href='/review/{{.Url}}'" id="review-btn" class="btn btn-{{ $newsColor }}">Review <i class="fas fa-pencil-alt"></i></button>
             {{ end }}
             <hr>
             </div>
             <div class="resume-date text-md-right">
               <span class="text-primary">{{.Date.Format "2006-01-02"}}</span>
             </div>
           </div>
      {{end}}
    </div>
  </section>
</body>

</html>