<!DOCTYPE html>
<html lang="en">

<head>
{{template "header" .}}
</head>

<body id="page-top">
    {{template "navigation" .}}
    <div class="container">
    <h2>YOU HAVE TO LOGIN</h2>
        {{template "login" .}}
    </div>
</body>
</html>