<!DOCTYPE html>
<html lang="en">

<head>
{{template "header" .}}
</head>

<body id="page-top">
    {{template "navigation" .}}
    <div id="loginbox" style="margin-top: 50px;" class="mainbox col-lg-6 offset-md-3 col-md-8 offset-sm-2">
        <div class="card card-inverse card-info">
            <div class="card-header">
                <div class="card-title">Selected News</div>
            </div>
            <div style="padding-top: 5px;" class="card-block">
                <div style="display: none;" id="login-alert" class="alert alert-danger col-md-12"></div>
                <div>
                    </i><label class="col-lg-3 form-control-label">News Title</label>
                    <div style="margin-bottom: 5px;" class="input-group"z> <span class="input-group-addon"></span>
                        <input id="login-username" type="text" class="form-control" readonly="readonly" value="{{ .review.NewsTitle }}" />
                    </div>
                    <label class="col-lg-3 form-control-label">News Portal / Press</label>
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="text" class="form-control" readonly="readonly" value="{{ .review.Portal }} / {{ .review.Press }}" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-header">
                <div class="card-title">Review</div>
            </div>
            <div style="padding-top: 5px;" class="card-block">
                <div style="display: none;" id="login-alert" class="alert alert-danger col-md-12"></div>
                <div id="loginform2">
                    <div class="col-lg-3 form-control-label">Review Title</div>
                    <div style="margin-bottom: 5px;" class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="review-title" type="text" class="form-control" name="title" value="{{.review.ReviewTitle}}"/>
                    </div>
                    <div class="col-lg-3 form-control-label">Review Content</div>
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <textarea id="review-content" class="form-control" rows="4" cols="50" name="content"  form="loginform2">{{.review.ReviewContent}}</textarea>
                    </div>
                    <input type="hidden" id="news-url" name="url" value="{{ .review.NewsUrl }}" />
                    <div style="margin-top: 10px;" class="form-group">
                        <!-- Button -->
                        {{ if eq .modifyFlag true }}
                          <div class="col-md-12 controls">
                              <form id="modify-form" class="" role="form" method="put" action="/review/{{  .review.NewsUrl }}"></form>
                              <button id="modify-btn" class="btn btn-sm btn-info" onclick="reviewModify();"><i class="far fa-edit-alt"></i> MODIFY REVIEW</button>
                          </div>
                        {{ else }}
                          <div class="col-md-12 controls">
                              <form id="post-form" class="" role="form" method="post" action="/review/{{  .review.NewsUrl }}"></form>
                              <button id="post-btn" class="btn btn-sm btn-info" onclick="reviewPost();"><i class="far fa-edit-alt"></i> POST REVIEW</button>
                          </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>